    <!-- Breadcrumb section start here -->
    <section class="ic-breadcrumb style-three">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-12">
                    <h3 class="ic-breadcrumb-title">Shop</h3>
                    <ul>
                        <li><a href="index.html">Home</a></li>
                        <li>Shop</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb section end here -->

    <!--Product section start here-->
    <section class="ic-product ic-padding-120">
        <div class="container">

            <!-- Section Header -->
            <div class="ic-section-header">
                <h1 class="ic-header-title">your <span>dream bike</span> we choice</h1>
                <span class="ic-header-divider"></span>
                <h6 class="ic-header-subtitle">Stylish Design <span>&</span> Performance</h6>
            </div>
            <div class="ic-space-60"></div>

            <!-- Product slider head -->
            <div class="ic-product-slider-head style-two">
                <div class="ic-product-filter d-flex">
                    <div class="ic-product-model ic-product-filter-item">
                        <div class="ic-select-dropdown">
                            <div class="ic-select-inner">
                                <span>Select Model</span>
                                <i class="icofont-simple-down"></i>
                            </div>
                            <ul class="ic-select-dropdown-menu">
                                <li>Kawasaki</li>
                                <li>Bmw</li>
                                <li>Yamaha</li>
                                <li>Ducati</li>
                                <li>Honda</li>
                            </ul>
                        </div>
                    </div>
                    <div class="ic-product-cc-type ic-product-filter-item">
                        <div class="ic-select-dropdown">
                            <div class="ic-select-inner">
                                <span>Select CC Type</span>
                                <i class="icofont-simple-down"></i>
                            </div>
                            <ul class="ic-select-dropdown-menu">
                                <li>150 CC</li>
                                <li>200 CC</li>
                                <li>220 CC</li>
                                <li>250 CC</li>
                                <li>300 CC</li>
                                <li>350 CC</li>
                            </ul>
                        </div>
                    </div>
                    <div class="ic-product-type ic-product-filter-item">
                        <div class="ic-select-dropdown">
                            <div class="ic-select-inner">
                                <span>Select Type</span>
                                <i class="icofont-simple-down"></i>
                            </div>
                            <ul class="ic-select-dropdown-menu">
                                <li>Auto</li>
                                <li>Menual</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <ul class="nav nav-tabs ic-product-sldier-nav" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link ic-custom-btn ic-btn-sm active" id="new-bike-tab" data-toggle="tab" href="#new" role="tab" aria-controls="new" aria-selected="false">New Bikes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link ic-custom-btn ic-btn-sm" id="used-bike-tab" data-toggle="tab" href="#used" role="tab" aria-controls="used" aria-selected="false">Used Bike</a>
                    </li>
                </ul>
            </div>
            <div class="tab-content">
                <div class="tab-pane fade show active" id="new" role="tabpanel" aria-labelledby="new-bike-tab">
                    <div class="ic-shop-product row">

                        <!-- Product item -->
                        <div class="col-lg-4 col-md-6 col-sm-12">
                            <div class="ic-product-item">
                                <div class="ic-product-thumbnail">
                                    <a href="shop-single.html">
                                        <img src="assets/images/product/bike/01.jpg" alt="bike-thumbnail">
                                    </a>
                                </div>
                                <div class="ic-product-content">
                                    <div class="ic-product-item-action">
                                        <a class="ic-product-addcart ic-custom-btn-rvs" title="Add To Cart" data-toggle="modal" data-target="#ic-success-cart">Add to cart</a>
                                        <a class="ic-product-wishlist" title="Wishlist" href="#">
                                            <i class="icofont-heart"></i>
                                        </a>
                                        <a class="ic-product-quickview ic-modal-btn" title="Quick View" data-target="#ic-quickview-modal">
                                            <i class="icofont-search"></i>
                                        </a>
                                    </div>
                                    <div class="ic-product-content-inner">
                                        <div class="ic-product-item-dec">
                                            <ul>
                                                <li>300 CC</li>
                                                <li>Auto</li>
                                                <li>2019</li>
                                            </ul>
                                        </div>
                                        <h3 class="ic-product-item-title"><a href="shop-single.html">Honda CBR 300R 2019</a></h3>
                                        <h4 class="ic-product-item-price">$3,588</h4>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Product item -->
                        <div class="col-lg-4 col-md-6 col-sm-12">
                            <div class="ic-product-item">
                                <div class="ic-product-thumbnail">
                                    <a href="shop-single.html">
                                        <img src="assets/images/product/bike/02.jpg" alt="bike-thumbnail">
                                    </a>
                                </div>
                                <div class="ic-product-content">
                                    <div class="ic-product-item-action">
                                        <a class="ic-product-addcart ic-custom-btn-rvs" title="Add To Cart" data-toggle="modal" data-target="#ic-success-cart">Add to cart</a>
                                        <a class="ic-product-wishlist" title="Wishlist" href="#">
                                            <i class="icofont-heart"></i>
                                        </a>
                                        <a class="ic-product-quickview ic-modal-btn" title="Quick View" data-target="#ic-quickview-modal">
                                            <i class="icofont-search"></i>
                                        </a>
                                    </div>
                                    <div class="ic-product-content-inner">
                                        <div class="ic-product-item-dec">
                                            <ul>
                                                <li>300 CC</li>
                                                <li>Auto</li>
                                                <li>2019</li>
                                            </ul>
                                        </div>
                                        <h3 class="ic-product-item-title"><a href="shop-single.html">Honda CBR 300R 2019</a></h3>
                                        <h4 class="ic-product-item-price">$3,588</h4>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Product item -->
                        <div class="col-lg-4 col-md-6 col-sm-12">
                            <div class="ic-product-item">
                                <div class="ic-product-thumbnail">
                                    <a href="shop-single.html">
                                        <img src="assets/images/product/bike/03.jpg" alt="bike-thumbnail">
                                    </a>
                                </div>
                                <div class="ic-product-content">
                                    <div class="ic-product-item-action">
                                        <a class="ic-product-addcart ic-custom-btn-rvs" title="Add To Cart" data-toggle="modal" data-target="#ic-success-cart">Add to cart</a>
                                        <a class="ic-product-wishlist" title="Wishlist" href="#">
                                            <i class="icofont-heart"></i>
                                        </a>
                                        <a class="ic-product-quickview ic-modal-btn" title="Quick View" data-target="#ic-quickview-modal">
                                            <i class="icofont-search"></i>
                                        </a>
                                    </div>
                                    <div class="ic-product-content-inner">
                                        <div class="ic-product-item-dec">
                                            <ul>
                                                <li>300 CC</li>
                                                <li>Auto</li>
                                                <li>2019</li>
                                            </ul>
                                        </div>
                                        <h3 class="ic-product-item-title"><a href="shop-single.html">Honda CBR 300R 2019</a></h3>
                                        <h4 class="ic-product-item-price">$3,588</h4>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Product item -->
                        <div class="col-lg-4 col-md-6 col-sm-12">
                            <div class="ic-product-item">
                                <div class="ic-product-thumbnail">
                                    <a href="shop-single.html">
                                        <img src="assets/images/product/bike/04.jpg" alt="bike-thumbnail">
                                    </a>
                                </div>
                                <div class="ic-product-content">
                                    <div class="ic-product-item-action">
                                        <a class="ic-product-addcart ic-custom-btn-rvs" title="Add To Cart" data-toggle="modal" data-target="#ic-success-cart">Add to cart</a>
                                        <a class="ic-product-wishlist" title="Wishlist" href="#">
                                            <i class="icofont-heart"></i>
                                        </a>
                                        <a class="ic-product-quickview ic-modal-btn" title="Quick View" data-target="#ic-quickview-modal">
                                            <i class="icofont-search"></i>
                                        </a>
                                    </div>
                                    <div class="ic-product-content-inner">
                                        <div class="ic-product-item-dec">
                                            <ul>
                                                <li>300 CC</li>
                                                <li>Auto</li>
                                                <li>2019</li>
                                            </ul>
                                        </div>
                                        <h3 class="ic-product-item-title"><a href="shop-single.html">Honda CBR 300R 2019</a></h3>
                                        <h4 class="ic-product-item-price">$3,588</h4>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Product item -->
                        <div class="col-lg-4 col-md-6 col-sm-12">
                            <div class="ic-product-item">
                                <div class="ic-product-thumbnail">
                                    <a href="shop-single.html">
                                        <img src="assets/images/product/bike/05.jpg" alt="bike-thumbnail">
                                    </a>
                                </div>
                                <div class="ic-product-content">
                                    <div class="ic-product-item-action">
                                        <a class="ic-product-addcart ic-custom-btn-rvs" title="Add To Cart" data-toggle="modal" data-target="#ic-success-cart">Add to cart</a>
                                        <a class="ic-product-wishlist" title="Wishlist" href="#">
                                            <i class="icofont-heart"></i>
                                        </a>
                                        <a class="ic-product-quickview ic-modal-btn" title="Quick View" data-target="#ic-quickview-modal">
                                            <i class="icofont-search"></i>
                                        </a>
                                    </div>
                                    <div class="ic-product-content-inner">
                                        <div class="ic-product-item-dec">
                                            <ul>
                                                <li>300 CC</li>
                                                <li>Auto</li>
                                                <li>2019</li>
                                            </ul>
                                        </div>
                                        <h3 class="ic-product-item-title"><a href="shop-single.html">Honda CBR 300R 2019</a></h3>
                                        <h4 class="ic-product-item-price">$3,588</h4>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Product item -->
                        <div class="col-lg-4 col-md-6 col-sm-12">
                            <div class="ic-product-item">
                                <div class="ic-product-thumbnail">
                                    <a href="shop-single.html">
                                        <img src="assets/images/product/bike/06.jpg" alt="bike-thumbnail">
                                    </a>
                                </div>
                                <div class="ic-product-content">
                                    <div class="ic-product-item-action">
                                        <a class="ic-product-addcart ic-custom-btn-rvs" title="Add To Cart" data-toggle="modal" data-target="#ic-success-cart">Add to cart</a>
                                        <a class="ic-product-wishlist" title="Wishlist" href="#">
                                            <i class="icofont-heart"></i>
                                        </a>
                                        <a class="ic-product-quickview ic-modal-btn" title="Quick View" data-target="#ic-quickview-modal">
                                            <i class="icofont-search"></i>
                                        </a>
                                    </div>
                                    <div class="ic-product-content-inner">
                                        <div class="ic-product-item-dec">
                                            <ul>
                                                <li>300 CC</li>
                                                <li>Auto</li>
                                                <li>2019</li>
                                            </ul>
                                        </div>
                                        <h3 class="ic-product-item-title"><a href="shop-single.html">Honda CBR 300R 2019</a></h3>
                                        <h4 class="ic-product-item-price">$3,588</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="used" role="tabpanel" aria-labelledby="used-bike-tab">
                    <div class="ic-shop-product row">

                        <!-- Product item -->
                        <div class="col-lg-4 col-md-6 col-sm-12">
                            <div class="ic-product-item">
                                <div class="ic-product-thumbnail">
                                    <a href="shop-single.html">
                                        <img src="assets/images/product/bike/01.jpg" alt="bike-thumbnail">
                                    </a>
                                </div>
                                <div class="ic-product-content">
                                    <div class="ic-product-item-action">
                                        <a class="ic-product-addcart ic-custom-btn-rvs" title="Add To Cart" data-toggle="modal" data-target="#ic-success-cart">Add to cart</a>
                                        <a class="ic-product-wishlist" title="Wishlist" href="#">
                                            <i class="icofont-heart"></i>
                                        </a>
                                        <a class="ic-product-quickview ic-modal-btn" title="Quick View" data-target="#ic-quickview-modal">
                                            <i class="icofont-search"></i>
                                        </a>
                                    </div>
                                    <div class="ic-product-content-inner">
                                        <div class="ic-product-item-dec">
                                            <ul>
                                                <li>300 CC</li>
                                                <li>Auto</li>
                                                <li>2019</li>
                                            </ul>
                                        </div>
                                        <h3 class="ic-product-item-title"><a href="shop-single.html">Honda CBR 300R 2019</a></h3>
                                        <h4 class="ic-product-item-price">$3,588</h4>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Product item -->
                        <div class="col-lg-4 col-md-6 col-sm-12">
                            <div class="ic-product-item">
                                <div class="ic-product-thumbnail">
                                    <a href="shop-single.html">
                                        <img src="assets/images/product/bike/02.jpg" alt="bike-thumbnail">
                                    </a>
                                </div>
                                <div class="ic-product-content">
                                    <div class="ic-product-item-action">
                                        <a class="ic-product-addcart ic-custom-btn-rvs" title="Add To Cart" data-toggle="modal" data-target="#ic-success-cart">Add to cart</a>
                                        <a class="ic-product-wishlist" title="Wishlist" href="#">
                                            <i class="icofont-heart"></i>
                                        </a>
                                        <a class="ic-product-quickview ic-modal-btn" title="Quick View" data-target="#ic-quickview-modal">
                                            <i class="icofont-search"></i>
                                        </a>
                                    </div>
                                    <div class="ic-product-content-inner">
                                        <div class="ic-product-item-dec">
                                            <ul>
                                                <li>300 CC</li>
                                                <li>Auto</li>
                                                <li>2019</li>
                                            </ul>
                                        </div>
                                        <h3 class="ic-product-item-title"><a href="shop-single.html">Honda CBR 300R 2019</a></h3>
                                        <h4 class="ic-product-item-price">$3,588</h4>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Product item -->
                        <div class="col-lg-4 col-md-6 col-sm-12">
                            <div class="ic-product-item">
                                <div class="ic-product-thumbnail">
                                    <a href="shop-single.html">
                                        <img src="assets/images/product/bike/03.jpg" alt="bike-thumbnail">
                                    </a>
                                </div>
                                <div class="ic-product-content">
                                    <div class="ic-product-item-action">
                                        <a class="ic-product-addcart ic-custom-btn-rvs" title="Add To Cart" data-toggle="modal" data-target="#ic-success-cart">Add to cart</a>
                                        <a class="ic-product-wishlist" title="Wishlist" href="#">
                                            <i class="icofont-heart"></i>
                                        </a>
                                        <a class="ic-product-quickview ic-modal-btn" title="Quick View" data-target="#ic-quickview-modal">
                                            <i class="icofont-search"></i>
                                        </a>
                                    </div>
                                    <div class="ic-product-content-inner">
                                        <div class="ic-product-item-dec">
                                            <ul>
                                                <li>300 CC</li>
                                                <li>Auto</li>
                                                <li>2019</li>
                                            </ul>
                                        </div>
                                        <h3 class="ic-product-item-title"><a href="shop-single.html">Honda CBR 300R 2019</a></h3>
                                        <h4 class="ic-product-item-price">$3,588</h4>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Product item -->
                        <div class="col-lg-4 col-md-6 col-sm-12">
                            <div class="ic-product-item">
                                <div class="ic-product-thumbnail">
                                    <a href="shop-single.html">
                                        <img src="assets/images/product/bike/04.jpg" alt="bike-thumbnail">
                                    </a>
                                </div>
                                <div class="ic-product-content">
                                    <div class="ic-product-item-action">
                                        <a class="ic-product-addcart ic-custom-btn-rvs" title="Add To Cart" data-toggle="modal" data-target="#ic-success-cart">Add to cart</a>
                                        <a class="ic-product-wishlist" title="Wishlist" href="#">
                                            <i class="icofont-heart"></i>
                                        </a>
                                        <a class="ic-product-quickview ic-modal-btn" title="Quick View" data-target="#ic-quickview-modal">
                                            <i class="icofont-search"></i>
                                        </a>
                                    </div>
                                    <div class="ic-product-content-inner">
                                        <div class="ic-product-item-dec">
                                            <ul>
                                                <li>300 CC</li>
                                                <li>Auto</li>
                                                <li>2019</li>
                                            </ul>
                                        </div>
                                        <h3 class="ic-product-item-title"><a href="shop-single.html">Honda CBR 300R 2019</a></h3>
                                        <h4 class="ic-product-item-price">$3,588</h4>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Product item -->
                        <div class="col-lg-4 col-md-6 col-sm-12">
                            <div class="ic-product-item">
                                <div class="ic-product-thumbnail">
                                    <a href="shop-single.html">
                                        <img src="assets/images/product/bike/05.jpg" alt="bike-thumbnail">
                                    </a>
                                </div>
                                <div class="ic-product-content">
                                    <div class="ic-product-item-action">
                                        <a class="ic-product-addcart ic-custom-btn-rvs" title="Add To Cart" data-toggle="modal" data-target="#ic-success-cart">Add to cart</a>
                                        <a class="ic-product-wishlist" title="Wishlist" href="#">
                                            <i class="icofont-heart"></i>
                                        </a>
                                        <a class="ic-product-quickview ic-modal-btn" title="Quick View" data-target="#ic-quickview-modal">
                                            <i class="icofont-search"></i>
                                        </a>
                                    </div>
                                    <div class="ic-product-content-inner">
                                        <div class="ic-product-item-dec">
                                            <ul>
                                                <li>300 CC</li>
                                                <li>Auto</li>
                                                <li>2019</li>
                                            </ul>
                                        </div>
                                        <h3 class="ic-product-item-title"><a href="shop-single.html">Honda CBR 300R 2019</a></h3>
                                        <h4 class="ic-product-item-price">$3,588</h4>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Product item -->
                        <div class="col-lg-4 col-md-6 col-sm-12">
                            <div class="ic-product-item">
                                <div class="ic-product-thumbnail">
                                    <a href="shop-single.html">
                                        <img src="assets/images/product/bike/06.jpg" alt="bike-thumbnail">
                                    </a>
                                </div>
                                <div class="ic-product-content">
                                    <div class="ic-product-item-action">
                                        <a class="ic-product-addcart ic-custom-btn-rvs" title="Add To Cart" data-toggle="modal" data-target="#ic-success-cart">Add to cart</a>
                                        <a class="ic-product-wishlist" title="Wishlist" href="#">
                                            <i class="icofont-heart"></i>
                                        </a>
                                        <a class="ic-product-quickview ic-modal-btn" title="Quick View" data-target="#ic-quickview-modal">
                                            <i class="icofont-search"></i>
                                        </a>
                                    </div>
                                    <div class="ic-product-content-inner">
                                        <div class="ic-product-item-dec">
                                            <ul>
                                                <li>300 CC</li>
                                                <li>Auto</li>
                                                <li>2019</li>
                                            </ul>
                                        </div>
                                        <h3 class="ic-product-item-title"><a href="shop-single.html">Honda CBR 300R 2019</a></h3>
                                        <h4 class="ic-product-item-price">$3,588</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Pagination -->
            <div class="text-center">
                <ul class="ic-pagination">
                    <li><a href="#"><i class="icofont-rounded-double-left"></i></a></li>
                    <li><a href="#" class="active">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li>...</li>
                    <li><a href="#">10</a></li>
                    <li><a href="#"><i class="icofont-rounded-double-right"></i></a></li>
                </ul>
            </div>
        </div>

        <!-- Success Modal -->
        <div class="modal fade" id="ic-success-cart" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="container modal-content">
                    <div class="row ic-success-cart-content">
                        <div class="col-12">
                            <h2 class="ic-success-message">Successfully Added To Cart</h2>
                        </div>
                        <div class="col-lg-6 col-md-6 col-12">
                            <div class="ic-product-thumbnail">
                                <img src="assets/images/product/success-cart.jpg" alt="bike-thumbnail">
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-12">
                            <div class="ic-product-content-inner">
                                <div class="ic-product-item-dec">
                                    <ul>
                                        <li>300 CC</li>
                                        <li>Auto</li>
                                        <li>2019</li>
                                    </ul>
                                </div>
                                <h3 class="ic-product-item-title"><a href="shop-single.html">Honda CBR 300R 2019</a></h3>
                                <h4 class="ic-product-item-price">$4,999</h4>
                                <div class="ic-product-short-specification">
                                    <ul class="ic-specification-list">
                                        <li><span>Color:</span>Blue / Black Combination</li>
                                        <li><span>SKU:</span>327038</li>
                                        <li><span>Shipping Charge:</span>$200</li>
                                        <li class="ic-total-cost"><span>Total Cost:</span>$5,199</li>
                                    </ul>
                                </div>
                                <div class="ic-btn-group">
                                    <a href="cart.html" class="ic-btn ic-custom-btn-rvs">View Cart</a>
                                    <a href="checkout.html" class="ic-btn ic-custom-btn theme-color">Checkout</a>
                                    <a data-dismiss="modal" class="ic-btn ic-modal-close"><i class="icofont-close"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Quickview Modal -->
        <div class="ic-modal" id="ic-quickview-modal">
            <div class="ic-modal-dialog">
                <div class="container ic-modal-content">
                    <div class="ic-modal-header">
                        <a data-dismiss="modal" class="ic-btn ic-modal-close"><i class="icofont-close"></i></a>
                    </div>
                    <div class="row ic-quickview-content">
                        <div class="col-lg-7 col-md-12 col-sm-12">
                            <div class="ic-product-gallery">
                                <div class="ic-product-gallery-single">
                                    <ul class="ic-product-single-carousel">
                                        <li>
                                            <div class="ic-product-thumbnail easyzoom easyzoom--overlay">
                                                <a href="assets/images/product-single/02.jpg">
                                                    <img src="assets/images/product/quick-view.jpg" alt="product-thumb" class="product-img">
                                                </a>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="ic-product-thumbnail easyzoom easyzoom--overlay">
                                                <a href="assets/images/product-single/02.jpg">
                                                    <img src="assets/images/product/quick-view.jpg" alt="product-thumb" class="product-img">
                                                </a>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="ic-product-thumbnail easyzoom easyzoom--overlay">
                                                <a href="assets/images/product-single/02.jpg">
                                                    <img src="assets/images/product/quick-view.jpg" alt="product-thumb" class="product-img">
                                                </a>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="ic-product-thumbnail easyzoom easyzoom--overlay">
                                                <a href="assets/images/product-single/02.jpg">
                                                    <img src="assets/images/product/quick-view.jpg" alt="product-thumb" class="product-img">
                                                </a>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="ic-product-thumbnail easyzoom easyzoom--overlay">
                                                <a href="assets/images/product-single/02.jpg">
                                                    <img src="assets/images/product/quick-view.jpg" alt="product-thumb" class="product-img">
                                                </a>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <div class="ic-product-gallery-thumbs">
                                    <ul class="ic-product-thumbs-carousel slick-squared-arrow">
                                        <li>
                                            <img src="assets/images/product-single/thumb-1.jpg" alt="product-thumb">
                                        </li>
                                        <li>
                                            <img src="assets/images/product-single/thumb-2.jpg" alt="product-thumb">
                                        </li>
                                        <li>
                                            <img src="assets/images/product-single/thumb-3.jpg" alt="product-thumb">
                                        </li>
                                        <li>
                                            <img src="assets/images/product-single/thumb-4.jpg" alt="product-thumb">
                                        </li>
                                        <li>
                                            <img src="assets/images/product-single/thumb-5.jpg" alt="product-thumb">
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-5 col-md-12 col-sm-12">
                            <div class="ic-product-single-content">
                                <div class="ic-product-item-dec">
                                    <ul>
                                        <li>300 CC</li>
                                        <li>Auto</li>
                                        <li>2019</li>
                                    </ul>
                                </div>
                                <h3 class="ic-product-item-title"><a href="shop-single.html">Yamaha YZF R1</a></h3>
                                <div class="ic-review-rating-wrapper">
                                    <div class="ic-review-rating">
                                        <ul>
                                            <li class="active"><i class="icofont-star"></i></li>
                                            <li class="active"><i class="icofont-star"></i></li>
                                            <li class="active"><i class="icofont-star"></i></li>
                                            <li class="active"><i class="icofont-star"></i></li>
                                            <li><i class="icofont-star"></i></li>
                                        </ul>
                                    </div>
                                    <span>(55 Reviews)</span>
                                </div>
                                <h4 class="ic-product-item-price"><del>$3,988</del>$3,588</h4>
                                <div class="ic-product-short-specification">
                                    <ul class="ic-specification-list">
                                        <li><span>Availability:</span>100 items</li>
                                        <li><span>SKU:</span>327038</li>
                                        <li><span>Product type:</span>Style, Sport Bike</li>
                                        <li><span>Vendor:</span>Kiosk Motor</li>
                                    </ul>
                                </div>
                                <div class="ic-product-opt">
                                    <div class="ic-product-opt-title">Color:</div>
                                    <div class="ic-product-opt-col">
                                        <ul class="ic-opts-list ic-opts-color">
                                            <li>
                                                <input type="radio" name="group1" checked="checked">
                                                <div class="ic-product-color" style="background-color: #EE0102"></div>
                                            </li>
                                            <li>
                                                <input type="radio" name="group1">
                                                <div class="ic-product-color" style="background-color: #636268"></div>
                                            </li>
                                            <li>
                                                <input type="radio" name="group1" >
                                                <div class="ic-product-color" style="background-color: #696A6E"></div>
                                            </li>
                                            <li>
                                                <input type="radio" name="group1">
                                                <div class="ic-product-color" style="background-color: #0000AA"></div>
                                            </li>
                                            <li>
                                                <input type="radio" name="group1">
                                                <div class="ic-product-color" style="background-color: #3949D9"></div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="ic-single-action-btns">
                                    <div class="ic-quantity">
                                        <div class="ic-quantity-button ic-quantity-down"><i class="icofont-minus"></i></div>
                                        <input type="number" min="1" step="1" value="1">
                                        <div class="ic-quantity-button ic-quantity-up"><i class="icofont-plus"></i></div>
                                    </div>
                                    <a href="#" class="ic-product-addcart ic-custom-btn-rvs ic-btn-sm">Add to cart</a>
                                    <a class="ic-product-wishlist" title="Wishlist" href="wishlist.html">
                                        <i class="icofont-heart"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--Product section end here-->

    <!--Image slider section start here-->
    <section class="ic-image-slider-section ic-section-bg ic-padding-120">
        <div class="container">

            <!-- Section Header -->
            <div class="ic-section-header wow fadeInUp">
                <h1 class="ic-header-title">we import your <span>dream bike</span></h1>
                <span class="ic-header-divider"></span>
                <h6 class="ic-header-subtitle">best value <span>&</span> satisfaction</h6>
            </div>
            <div class="ic-space-60"></div>
            <div class="ic-image-slider-wrapper wow fadeInUp" data-wow-delay="0.3s">
                <div class="ic-image-slider owl-carousel">
                    <div class="ic-image-slider-item">
                        <img src="assets/images/slider/03.jpg" alt="image-slider" class="animated">
                        <h1 class="ic-slider-text animated">yamaha yzf r1m</h1>
                    </div>
                    <div class="ic-image-slider-item">
                        <img src="assets/images/slider/03.jpg" alt="image-slider" class="animated">
                        <h1 class="ic-slider-text animated">yamaha yzf r1m</h1>
                    </div>
                    <div class="ic-image-slider-item">
                        <img src="assets/images/slider/03.jpg" alt="image-slider" class="animated">
                        <h1 class="ic-slider-text animated">yamaha yzf r1m</h1>
                    </div>
                </div>
                <div class="ic-image-slider-nav">
                    <div class="ic-image-nav-left"><i class="icofont-simple-left"></i></div>
                    <div class="ic-image-nav-right"><i class="icofont-simple-right"></i></div>
                </div>
                <div class="ic-space-40"></div>
                <div class="text-center">
                    <a href="#" class="ic-custom-btn ic-btn-lg theme-color">Pre - Order Now</a>
                </div>
            </div>
        </div>
    </section>
    <!--Image slider section end here-->
