
    <!-- Breadcrumb section start here -->
    <section class="ic-breadcrumb style-three">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-12">
                    <h3 class="ic-breadcrumb-title">Checkout</h3>
                    <ul>
                        <li><a href="index.html">Home</a></li>
                        <li>Checkout</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb section end here -->

    <!-- Checkout section start here-->
    <section class="ic-checkout ic-padding-120">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-12">
                    <form class="ic-checkout-form" action="#" method="post">
                        <h2 class="ic-shipping-title mb-4">Billing Details</h2>
                        <p>Get your order sent to your chosen address, or arrange collection at a collection point or Sportfirst store</p>
                        <div class="ic-form-row">
                            <div class="col-lg-6 col-md-6 col-12">
                                <input type="text" name="name" placeholder="First Name*" required>
                            </div>
                            <div class="col-lg-6 col-md-6 col-12">
                                <input type="text" name="name" placeholder="Last Name*" required>
                            </div>
                        </div>
                        <div class="ic-form-group w-100">
                            <input type="text" name="address" placeholder="Address Line 1*" required>
                        </div>
                        <div class="ic-form-group w-100">
                            <input type="text" name="address" placeholder="Address Line 2 (Optional)">
                        </div>
                        <div class="ic-form-row">
                            <div class="col-lg-6 col-md-6 col-12">
                                <div class="ic-event-ticket">
                                    <div class="ic-select-dropdown">
                                        <div class="ic-select-inner">
                                            <span>City*</span>
                                            <i class="icofont-simple-down"></i>
                                        </div>
                                        <ul class="ic-select-dropdown-menu">
                                            <li>Dhaka</li>
                                            <li>Chittagong</li>
                                            <li>Khulna</li>
                                            <li>Mymensingh</li>
                                            <li>Sylhet</li>
                                            <li>Rajshahi</li>
                                            <li>Comilla</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-12">
                            <div class="ic-event-ticket">
                                <div class="ic-select-dropdown">
                                    <div class="ic-select-inner">
                                        <span>State*</span>
                                        <i class="icofont-simple-down"></i>
                                    </div>
                                    <ul class="ic-select-dropdown-menu">
                                        <li>Dhaka</li>
                                        <li>Chittagong</li>
                                        <li>Khulna</li>
                                        <li>Mymensingh</li>
                                        <li>Sylhet</li>
                                        <li>Rajshahi</li>
                                        <li>Comilla</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        </div>
                        <div class="ic-form-row">
                            <div class="col-lg-6 col-md-6 col-12">
                                <input type="text" name="postcode" placeholder="Post Code*" required>
                            </div>
                            <div class="col-lg-6 col-md-6 col-12">
                            <div class="ic-event-ticket">
                                <div class="ic-select-dropdown">
                                    <div class="ic-select-inner">
                                        <span>Country*</span>
                                        <i class="icofont-simple-down"></i>
                                    </div>
                                    <ul class="ic-select-dropdown-menu">
                                        <li>Dhaka</li>
                                        <li>Chittagong</li>
                                        <li>Khulna</li>
                                        <li>Mymensingh</li>
                                        <li>Sylhet</li>
                                        <li>Rajshahi</li>
                                        <li>Comilla</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        </div>
                        <div class="ic-form-row">
                            <div class="col-lg-6 col-md-6 col-12">
                                <input type="email" id="ic-email" name="email" placeholder="Email Address*" required>
                            </div>
                            <div class="col-lg-6 col-md-6 col-12">
                                <input type="text" id="ic-phone" name="phone" placeholder="Phone Number*" required>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-lg-6 col-md-12 ">
                    <div class="order-summury p-3 p-lg-5">
                        <div class="mb-7">
                            <h3 class="mb-4">Your Order</h3>
                            <ul class="list-unstyled">
                                <li class="mb-3 border-bottom pb-3 d-flex"><span class="mr-auto"> 1 x Yamaha YZF R1</span> <span>$3,900.00</span></li>
                                <li class="mb-3 border-bottom pb-3 d-flex"><span class="mr-auto"> 1 x Yamaha YZF R1</span> <span>$2,800.00</span></li>
                                <li class="mb-3 border-bottom pb-3 d-flex"><span class="mr-auto"> Shipping </span> <span>$120.00</span></li>
                                <li class="mb-3 border-bottom pb-3 d-flex"><span class="mr-auto"> Subtotal </span> <span>$6,820.00</span></li>
                                <li class="d-flex"><span class="mr-auto"><strong class="cart-total"> Total :</strong></span>  <strong class="cart-total">$6,820.00</strong></li>
                            </ul>
                        </div>
                        <div class="cart-detail my-5">
                            <h5 class="mb-3">Payment Method</h5>
                            <div class="form-group">
                                <div class="custom-control custom-radio">
                                    <input type="radio" id="radio1" name="radio" class="custom-control-input">
                                    <label class="custom-control-label" for="radio1">Direct Bank Tranfer</label>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="custom-control custom-radio">
                                    <input type="radio" id="radio2" name="radio" class="custom-control-input">
                                    <label class="custom-control-label" for="radio2">Check Payment</label>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="custom-control custom-radio">
                                    <input type="radio" id="radio3" name="radio" class="custom-control-input">
                                    <label class="custom-control-label" for="radio3">Paypal Account</label>
                                </div>
                            </div>
                            <div class="form-group mb-0">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="Check1">
                                    <label class="custom-control-label" for="Check1">I have read and accept the terms and conditions</label>
                                </div>
                            </div>
                        </div>
                        <button class="ic-custom-btn-rvs secondary-hover btn-block">Proceed to Checkout</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Checkout section end here-->
